@font-face {
  font-family: "iconfont"; /* Project id 4869046 */
  src: url('iconfont.woff2?t=1743601792208') format('woff2'),
       url('iconfont.woff?t=1743601792208') format('woff'),
       url('iconfont.ttf?t=1743601792208') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "\e631";
}

.icon-weather_mai:before {
  content: "\e602";
}

.icon-weather_yangsha:before {
  content: "\e603";
}

.icon-weather_qiangshachenbao:before {
  content: "\e604";
}

.icon-weather_duoyun:before {
  content: "\e605";
}

.icon-weather_qing:before {
  content: "\e606";
}

.icon-weather_zhenyu:before {
  content: "\e607";
}

.icon-weather_leizhenyu:before {
  content: "\e608";
}

.icon-weather_yin:before {
  content: "\e609";
}

.icon-weather_leizhenyubanbingbao:before {
  content: "\e60a";
}

.icon-weather_xiaoyu:before {
  content: "\e60b";
}

.icon-weather_dayu:before {
  content: "\e60c";
}

.icon-weather_baoyu:before {
  content: "\e60d";
}

.icon-weather_yujiaxue:before {
  content: "\e60e";
}

.icon-weather_tedabaoyu:before {
  content: "\e60f";
}

.icon-weather_zhongyu:before {
  content: "\e610";
}

.icon-weather_xiaoxue:before {
  content: "\e611";
}

.icon-weather_zhongxue:before {
  content: "\e612";
}

.icon-weather_zhenxue:before {
  content: "\e613";
}

.icon-weather_dabaoyu:before {
  content: "\e615";
}

.icon-weather_baoxue:before {
  content: "\e616";
}

.icon-weather_daxue:before {
  content: "\e617";
}

.icon-weather_wu:before {
  content: "\e618";
}

.icon-weather_dongxue:before {
  content: "\e619";
}

.icon-weather_shachenbao:before {
  content: "\e61a";
}

.icon-weather_fuchen:before {
  content: "\e61b";
}

.icon-close:before {
  content: "\e626";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-sun:before {
  content: "\ed97";
}

.icon-moon:before {
  content: "\e68d";
}

.icon-home_light:before {
  content: "\e7d4";
}

.icon-feeling:before {
  content: "\e65c";
}

.icon-photos:before {
  content: "\e614";
}

.icon-timeline:before {
  content: "\e6c0";
}

